<launch>
    <!-- Bringup -->
    <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
    </node> -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen" >
        <rosparam command="load" file="$(find lib_navigation)/config/scan_data_filter.yaml" />
    </node>
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find lib_bringup)/urdf/librarian.urdf.xacro'" />
    <!-- <param name="robot_description" command="$(arg urdf_file)" /> -->

    <arg name="set_frame_id" default="base_scan"/>

    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="lib_lds" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="frame_id" value="$(arg set_frame_id)"/>
    </node>

    <!-- <node pkg="tf" type="static_transform_publisher" name="scan_broadcaster" args="0 0 0 0 0 0 1 base_footprint base_scan 100" /> -->
    <node pkg="lib_transform" type="tf_transform" name="robot_tf_publisher" output="screen"> </node>
	<node pkg="lib_transform" type="odom_transform" name="odom_publisher" output="screen"> </node>

</launch>