<launch>
    <!-- Bringup -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" output="screen" >
        <rosparam command="load" file="$(find lib_navigation)/config/scan_data_filter.yaml" />
    </node>

    <arg name="set_frame_id" default="base_scan"/>

    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="lib_lds" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="frame_id" value="$(arg set_frame_id)"/>
    </node>

    <arg name="urdf_file" default="$(find xacro)/xacro $(find lib_bringup)/urdf/librarian.urdf.xacro" />
    <param name="robot_description" command="$(arg urdf_file)" />

    <!-- <node pkg="lib_omni_mobile" type="controlKeyboard.py" name="control_keyboard" output="screen" /> -->
    <node pkg="lib_omni_mobile" type="convert" name="convert"/>
    <!-- <node name="control_planar_arm" pkg="lib_planar_arm" type="controlPlanarArm.py" output="screen"/> -->
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <remap from="/joint_states" to="/librarian/joint_states" />
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="/joint_states" to="/librarian/joint_states" />
    </node>
    <rosparam file="$(find lib_navigation)/config/librarian.yaml" command="load" />
    <!-- <node name="control_spawn" pkg="controller_manager" type="spawner" respawn="false" ns="/librarian"
        output="screen" args="joint_state_controller left_wheel_controller right_wheel_controller front_wheel_controller" /> -->

    <node pkg="lib_control" type="odom_transform" name="odom_publisher"> </node>
    <node pkg="lib_control" type="control" name="control"/>
    <node pkg="rosserial_python" name="control_wheels" type="serial_node.py" output = "screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
    </node>

</launch>