<launch>
    <param name="/use_sim_time" value="true"/>
    <include file="$(find lib_bringup)/launch/bringUp.launch" />

    <arg name="x_pos" default="-2.0"/>
    <arg name="y_pos" default="1.0"/>
    <arg name="z_pos" default="0.0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <rosparam file="$(find lib_bringup)/config/librarian.yaml" command="load" />
    <node name="control_spawn" pkg="controller_manager" type="spawner" respawn="false" ns="/librarian"
        output="screen" args="joint_state_controller left_wheel_controller right_wheel_controller front_wheel_controller" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model librarian -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>