<launch>

    <!-- Launch Robot Bringup -->
    <include file="$(find lib_bringup)/launch/bringUp.launch" />

    <!-- Launch Navigation-->
    <include file="$(find lib_navigation)/launch/navigation.launch" />

    <!-- Launch ChatBot -->
    <include file="$(find lib_bringup)/launch/chatBot.launch" />

</launch>