<?xml version="1.0"?>
<robot name="librarian" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find lib_bringup)/urdf/materials.xacro" />

  <!-- Include Omni Mobile URDF -->
  <xacro:include filename="$(find lib_omni_mobile)/urdf/omni_mobile.urdf.xacro" />

  <!-- Include Planar Arm URDF -->
  <!-- <xacro:include filename="$(find lib_planar_arm)/urdf/planar_arm.urdf.xacro" /> -->

  <!-- Base fixed joint -->
  <!-- <joint name="base_fixed" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="planar_link"/>
  </joint> -->

</robot>